@media (max-width: 1439px) {
    .sidepanel {
        display: none;
    }
    .skillse {
        &__stek {
            grid-template-columns: repeat(auto-fit, 270px);
            justify-content: space-between;
        }
    }
    .levels {
        grid-template-columns: repeat(auto-fit, 270px);
        justify-content: space-between;
    }
}

@media (max-width: 1200px) {
    .container {
        max-width: 960px;
    }
    .about {
        &__wrapper {
            grid-template-columns: 400px 520px;
            column-gap: 40px;
        }
        &__skills {
            column-gap: 20px;
            grid-template: repeat(2, minmax(115px, auto))/repeat(2, 250px);
            &-item {
                grid-template-columns: 40px 180px;
            }
        }
    }
    .resume {
        &__wrapper {
            grid-template-columns: repeat(2, 350px);
        }
    }
    .portfolio {
        &__wrapper {
            grid-template-columns: repeat(auto-fit, 280px);
            grid-auto-rows: 280px;
            justify-content: space-around;
            row-gap: 20px;
            .horizonal, .vertical {
                grid-row: unset;
                grid-column: unset;
            }
        }
    }
    .contacts {
        &__photo {
            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }
        &__descr {
            width: 200px;
        }
        &__wrapper {
            column-gap: 30px;
        }
        &__form {
            grid-template: 45px 190px 45px/repeat(2,210px);
            justify-content: left;
            column-gap: 20px;
        }
    }
}

@media (max-width: 992px) {
    .container {
        max-width: 720px;
    }
    .title {
        &_fz36 {
            font-size: 30px;
        }
    }
    .about {
        &__wrapper {
            grid-template-columns: 320px 380px;
        }
        &__skills {
            grid-template-columns: 380px;
            grid-auto-rows: minmax(115px, auto);
            &-item {
                grid-template-columns: 40px 320px;
                column-gap: 20px;
            }
        }
    }
    .resume {
        &__wrapper {
            grid-template-columns: repeat(2, 230px);
        }
    }
    .price {
        &__items {
            grid-template-columns: repeat(auto-fit, 320px);
            padding: 0;
        }
    }
    .contacts {
        &__photo {
            display: none;
        }
        &__descr {
            width: 630px;
        }
        &__wrapper {
            grid-template-columns: 630px;
            justify-content: center;
        }
        &__form {
            grid-template: 45px 190px 45px/repeat(2,280px);
            justify-content: space-between;
        }
    }
}

@media (max-width: 768px) {
    .container {
        max-width: 540px;
    }
    .title {
        &_fz48 {
            font-size: 28px;
        }
    }
    .promo {
        &__title {
            line-height: 39px;
            width: 300px;
        }
    }
    .about {
        padding-top: 40px;
        &__wrapper {
            grid-template: 340px auto auto / 100%;
        }
        &__photo {
            grid-row: unset;
        }
        &__skills {
            grid-template-columns: repeat(2, 250px);
            &-item {
                grid-template-columns: 40px 220px;
            }
        }
    }
    .resume {
        &__wrapper {
            grid-template-columns: 400px;
            row-gap: 60px;
        }
    }
    .skillse {
        &__stek {
            justify-content: center;
        }
    }
    .levels {
        justify-content: center;
    }
    .contacts {
        &__photo {
            display: none;
        }
        &__descr {
            width: 330px;
        }
        &__wrapper {
            grid-template-columns: 530px;
            justify-content: center;
        }
        &__form {
            grid-template: 45px 190px 45px/repeat(2,220px);
            justify-content: left;
        }
    }
}

@media (max-width: 576px) {
    .container {
        max-width: 100%;
        padding: 0 10px;
    }
    .title {
        &_fz48 {
            font-size: 26px;
        }
        &_fz32 {
            font-size: 24px;
        }
        &_fz36 {
            font-size: 24px;
        }
    }
    .hamburger {
        right: 20px;
    }
    .menu {
        &__block {
            width: 250px;
            padding-left: 20px;
        }
    }
    .promo {
        background: url('../img/promo_bg.jpg') no-repeat 57%/cover;
        &__btns {
            margin-top: 32px;
        }
    }
    .about {
        padding-top: 40px;
        &__wrapper {
            grid-template: 340px auto auto / 100%;
        }
        &__photo {
            grid-row: unset;
        }
        &__skills {
            grid-template-columns: 260px;
            justify-content: center;
            &-item {
                grid-template-columns: 40px 220px;
            }
        }
    }
    .resume {
        &__wrapper {
            grid-template-columns: 280px;
            row-gap: 60px;
            justify-content: center;
        }
    }
    .price {
        &__items {
            grid-template-columns: repeat(auto-fit, 275px);
            padding-left: 20px;
            justify-content: center;
        }
    }
    .contacts {
        &__descr {
            width: 300px;
            margin: 0 auto;
        }
        &__wrapper {
            display: block;
            padding-left: 0;
        }
        &__form {
            display: flex;
            flex-direction: column;
        }
        &__input {
            height: 40px;
        }
    }
}